header{
    margin-top: 70px;
    margin-left: 20px;
}

body{
    background-color: rgb(232,232,232);
    font-family: 'Kanit', sans-serif;
    color: rgb(38, 38, 38);
}

p{
    margin-left: 20px;
    margin-right: 20px;
    text-indent: 30px;
    font-size: 20px;
}


.corFundo{
    background-color: rgb(38, 38, 38);
}

.custom-toggler.navbar-toggler { 
    border-color: lightgray;
}
 
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"img/iconnavbar.png"); 
}

.corFooter{
    color: lightgray;
    background-color: rgb(38, 38, 38);
}

a{
    color: lightgray;
}

a:hover{
    color: rgb(255, 173, 154);
    opacity: 100%;
    text-decoration: none;
}

a {
    color: lightgray;
    text-decoration: none;
}
  
#titulo{
    margin-top: 10px;
}

h3{
    margin-left: 30px;
}

.saberMais{
    color: rgb(38, 38, 38);
    opacity: 70%;
}

footer{
    padding: 10px;
}

a:visited {
    text-decoration: none;
}

.imagenLado{
    float: right;
    margin-bottom: 200px;
    margin-right: 20px;
}

.imagensLado{
    float: right;
    margin-right: 20px;
}

#bannerForm{
    margin-top: 80px;
    border-radius: 25px;
}

#bannerForm img{
    border-radius: 25px;
}

.footer{
    margin-bottom: 60px;
}

.tabela{
    margin-top: 10px;
    border: solid 1px black;
}

.lista{
    margin-bottom: 20px;
    border: solid 1px black;
}

